.container {
  margin: 0 auto;  
  width: 720px;
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	text-align:center
}

header ul {
	list-style-type:none;
	text-align: center;
}

header li {
	display:inline;
	margin: 35px;
}