.container {
  margin: 0 auto;  
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: fixed;
  width: 840px;
	z-index: 10;
	background-color: white;
	border-bottom: 1px solid black;
}

nav {
	padding-top: 100px;
	float :left;
}

nav ul {
		list-style-type: none
}

footer {
	border-top: 1px solid black;
	clear: both;
}

.content {
	padding-top: 100px;
	float: right;
	width: 650px;
	border-left: 1px solid black;
	padding-left: 35px;
}